.btn-dash, a.btn-dash {
  background-color: white;
  height: 60px;
  width: 100%;
  opacity: 1;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 30px;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 0px;
  border: 2px solid black;
}

a.btn-dash {
  padding-top: 10px;
}

.btn-dash {
  height: 73px;
}

p {
  margin: 5px 0px;
}

li {
  width: 50%;
}

h1 {
  text-align: center;
}

.line-container {
  display: flex;
}

.weather {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  height: 100%;
}

.btn-dash:hover, a.btn-dash:hover {background-color: rgb(248, 248, 248);}

input[type="submit"] {
  background-color: rgb(255, 255, 255);
  height: 40px;
  width: 100%;
  opacity: 1;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 25px;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #51E0FF;
  color: black;
  list-style-type: none;
  text-decoration: none;
  padding: 0px 8px;
}


@media only screen and (max-width: 1320px) {
  p {
      font-size: 20px;
  }

  h2 {
    font-size: 35px;
  }

}

@media only screen and (max-width: 920px) {
  p {
      font-size: 15px;
  }

  h2 {
    font-size: 30px;
  }

  a.btn-dash {
    font-size: 23px;
    width: 99%;
  }

  .btn-dash {
    font-size: 23px;
    padding-bottom: 20px;
  }

}

@media only screen and (max-width: 750px) {

  a.btn-dash {
    font-size: 30px;
  }

  .btn-dash {
    font-size: 30px;
  }

  p {
    font-size: 23px;
}

}

@media only screen and (max-width: 450px) {
  li, input[type="submit"] {
    font-size: 15px;
  }

}
